.lvl1{
    color: aqua;
}
.sublvl1{
    color: blue;
}
.tertiaryA{
    color: aquamarine;
}
.lvl2{
    color: yellow;
}
.sublvl2{
    color: orange;
}
.tertiaryB{
    color: orangered;
}